$transition: 0.3s;
$padding: 15px 20px;

aside .menu .menu-item {
  width: 100%;
  border-left: 3px solid transparent;

  .menu-link-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $padding;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
    transition: transform $transition;

    &:hover { background-color: rgba(0,0,0,0.2); }

    > svg { transition: transform $transition; }
  }

  .menu-subtree {
    overflow: hidden;
    max-height: 0;
    padding: 0;
    transition: max-height $transition, padding $transition;
    background-color: rgba(0,0,0,0.1);

    .menu-link {
      display: block;
      padding: $padding;
      font-size: .9rem;
    }

    &-item {
      position: relative;
      padding-left: 30px;
      transition: padding $transition;

      &::before {
        $size: 6px;

        content: '';
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        display: block;
        width: $size;
        height: $size;
        border-radius: 50%;
        background-color: $info;
        opacity: 0;
        transition: opacity $transition, left $transition;
      }

      &.active {
        color: $info;
        padding-left: 35px;
      
        &::before {
          opacity: 1;
          left: 30px;
        }
      }
    }
  }

  &.active {
    border-left-color: $info;
    color: #fff;

    .menu-link-title {
      background-color: rgba(0,0,0,0.5);

      > svg { transform: rotate(90deg); }
    }

    .menu-subtree {
      height: auto;
      max-height: 1000px;
      padding: 10px 0;
    }
  }

  &:not(.active) .menu-link-title:hover { transform: scale(1.02); };
}