main#dashboard-page {
  display: flex;
  min-height: 100vh;

  #dashboard-page-content {
    position: relative;
    flex: 1;
  }
}

.hot-info {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'info icon'
                       'title icon';
  color: #fff;

  &-information {
    grid-area: info;
  }

  &-title {
    grid-area: title;
  }

  &-icon {
    grid-area: icon;
    font-size: 3rem;
  }

  &.orders { background-image: nth($hot-info-gradient, 1); }
  &.users { background-image: nth($hot-info-gradient, 2); }

}