@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  scroll-behavior: smooth;
}

html, body { height: 100%; }

ul { list-style-type: none; }

img {
  object-fit: cover;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 10px;
  color: $theme-color;
}

input,
textarea { font-size: inherit; }

#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#page-content {
  position: relative;
  flex: 1;
}