#page-content, .page-content {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

$slide-distance: 400px;

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translateX($slide-distance);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translateX(-$slide-distance);
}

.slide-up-enter,
.slide-down-leave-active {
  opacity: 0;
  transform: translateY($slide-distance);
}

.slide-up-leave-active,
.slide-down-enter {
  opacity: 0;
  transform: translateY(-$slide-distance);
}

.bounce-enter-active, .layout-enter {
  animation: bounce-in .8s;
}

.bounce-leave-active, .layout-leave-active {
  animation: bounce-out .5s;
}

@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.5) }
  100% { transform: scale(1) }
}

@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.5) }
  100% { transform: scale(0) }
}
