.alert {
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  font-size: .9rem;
  border-radius: 3px;

  @each $name, $value in $var_list_names {
    &.alert-#{$name} {
      color: $value;
      border: 1px solid $value;
    }
  }
}