.collapse {
  padding: 10px 0;
  border-bottom: 1px solid #bdc3c7;

  h3{
    font-size: 0.85rem;
    cursor: pointer;

    &:hover{ color: #e74c3c; }
  }

  p { font-size: 0.9rem; }

  .collapsable {
    overflow: hidden;
    height: auto;
    max-height: 0;
    animation: collapse_in 0.3s;
  }

  &.active .collapsable {
    animation: collapse_out 1s;
    max-height: 600px;
  }
}