$arrow-size: 11px;

.dropdown {
  position: relative;

  &-content {
    position: absolute;
    top: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
    display: none;
    padding: 10px 15px;
    border-radius: 0.25rem;
    min-width: 130px;
    text-align: left;
    font-size: 1rem;
    background-color: #fff;
    filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.2));
    list-style-type: none;
    

    &::before {
      content: '';
      position: absolute;
      top: -$arrow-size;
      left: 50%;
      transform: translateX(-50%);
      z-index: 16;
      width: 0;
      height: 0;

      border-left: $arrow-size solid transparent;
      border-right: $arrow-size solid transparent;

      border-bottom: $arrow-size solid #fff;      
    }

    &::after {
      content: '';
      position: absolute;
      top: -$arrow-size;
      left: 0;
      width: 100%;
      height: $arrow-size;
      z-index: 15;
    }
  }

  &-content li > a{
    display: block;
    width: 100%;
    padding: 5px 0;
    color: rgba(109, 118, 125, 1);
    font-size: 0.9rem;
    font-weight: 400;
    white-space: nowrap;

    &:hover { color: rgba(48, 56, 65, 1); }

    i {
      display: inline-block;
      margin-right: 5px;
      font-size: 1.2rem;
    }
  }

  &-toggle {
    cursor: pointer;
    font-size: 1.5rem;
  }

  &:hover &-toggle + &-content { display: block; }

  &.left &-content {
    left: -$arrow-size;
    transform: none;

    &::before {
      left: $arrow-size;
      transform: none;
    }
  }

  &.right &-content {
    left: auto;
    right: -$arrow-size;
    transform: none;

    &::before {
      left: auto;
      right: $arrow-size;
      transform: none;
    }
  }
}