.form-field {
  width: 100%;
  padding: 0.45rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: inherit;
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid $gray;
  outline: none;
  transition: color 0.4s,
              border 0.4s;

  &:focus {
    color: $dark_color;
    border-color: $info;
  }

  &.small {
    padding: 0.25rem 0.55rem;
    font-size: 1rem;
  }

  &.icon {
    padding-left: 2.5rem;

  + .help-icon {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      color: $dark_color;
    }
  }

  &:disabled,
  &.disabled {
    opacity: 0.65;
    pointer-events: none;
    background-color: rgb(230, 230, 230);
  }

  &:read-only {
    opacity: 0.8;
    background-color: rgb(237,239,241);
    pointer-events: none;
  }

  &.invalid {
    border: 1px solid $danger;
  }
}

textarea.form-field { 
  padding: 0.45rem;
  resize: none;
  height: 120px;
}

.invalid-message {
  display: block;
  padding: 0 0.5rem;
  margin-top: 5px;
  color: $danger;
  font-size: 0.77rem;
}

.form-group {
  margin-top: 0.85rem;

  .form-field { border-radius: 5px; }
}

.input-group {
  display: flex;

  .form-field { border-radius: 5px 0 0 5px; }
  .form-field + .form-field { border-radius: 0 5px 5px 0; }
  .form-field ~ .btn { border-radius: 0 5px 5px 0; }
}


// Material desgin Inputs
.md-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;

  .form-field + .md-float {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    color: #777;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    text-transform: capitalize;
    cursor: text;
    transition: color 0.4s,
                transform 0.4s,
                top 0.4s,
                background-color 0.4s;
  }
  
  .form-field:focus + .md-float,
  .form-field.active + .md-float {
    top: -0.5rem;
    transform: scale(0.85);
    background-color: #fff;
  }
  
  .form-field:focus + .md-float { color: $info; }

  .form-field.invalid + .md-float { color: $red; }
}

/*
 * Custom checkbox
 */

input[type=checkbox] {
  display: none;

   + label {
     content: '';
     position: relative;
     top: 50%;
     transform: translateY(-50%);
     display: inline-block;
     width: 17px;
     height: 17px;
     background-color: transparent;
     border: 1px solid $dark;
     border-radius: 0.25rem;
     cursor: pointer;
     transition: border 0.2s;

     &:hover {
       border-color: $info;
     }
   }
}

input[type=checkbox]:checked + label {
  transition: background-color 0.2s;
  background-color: $info;
  border-color: $info;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 3px;
    height: 7px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    -ms-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-6px, -20%);
  }
}
