.product-quantity {
  margin-right: 20px;
  width: 90px;

  .quantity {
    text-align: center;
  }
}

.quantity-buttons {
  margin-left: 5px;
  color: #647484;

  > button {
    width: 20px;
    height: 20px;
    font-size: 0.9rem;
    color: inherit;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: box-shadow 0.05s;
  }

  button:active {
    -webkit-box-shadow: inset 0 0 17px 0 #ccc;
    -moz-box-shadow: inset 0 0 17px 0 #ccc;
    box-shadow: inset 0 0 17px 0 #ccc;
  }
}
