.product-quantity {
  margin-right: 20px;
  width: 90px;

  .form-field {
    color: #647484;
    padding: 0.15rem;
    font-size: 1.5rem;
    border-radius: 0.15rem;
    line-height: 1;
  }

  .quantity {
    text-align: center;
  }
}

.quantity-buttons {
  margin-left: 5px;
  color: #647484;

  > button {
    width: 20px;
    height: 20px;
    font-size: 0.9rem;
    color: inherit;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: box-shadow 0.05s;
  }

  button:active {
    -webkit-box-shadow: inset 0px 0px 17px 0px #ccc;
    -moz-box-shadow: inset 0px 0px 17px 0px #ccc;
    box-shadow: inset 0px 0px 17px 0px #ccc;
  }
}