.form-field {
  width: 100%;
  padding: $field-padding;
  font-size: $field-font-size;
  line-height: 1.5;
  color: inherit;
  font-family: inherit;
  border-radius: $input-default-radius;
  border: 1px solid $gray;
  transition:
    color 0.4s,
    border 0.4s,
    box-shadow 0.4s;

  &:focus {
    color: $dark_color;
    box-shadow: inset 0 0 0 2px $info;
  }

  &.small {
    padding: 0.25rem 0.55rem;
    font-size: 1rem;
  }

  &.icon {
    padding-left: 2.5rem;

    + .help-icon {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      color: $dark_color;
    }
  }

  &:disabled {
    opacity: 0.65;
    pointer-events: none;
    background-color: rgb(230, 230, 230);
  }

  &:read-only {
    opacity: 0.8;
    background-color: rgb(237, 239, 241);

    &.readonly-no-opacity {
      background-color: #fff;
      cursor: pointer;
    }
  }

  &.is-invalid { box-shadow: inset 0 0 0 1px $danger; }
  &.is-valid { box-shadow: inset 0 0 0 1px $green; }
  &.is-invalid:focus { box-shadow: inset 0 0 0 2px $danger; }
  &.is-valid:focus { box-shadow: inset 0 0 0 2px $green; }
}

textarea.form-field {
  padding: 0.45rem;
  resize: none;
  height: 120px;
}

.invalid-message {
  display: block;
  padding: 0 0.5rem;
  margin-top: 5px;
  color: $danger;
  font-size: 0.77rem;
}

.input-group {
  display: flex;

  .form-field { border-radius: $input-default-radius 0 0 $input-default-radius; }
  .form-field + .form-field { border-radius: 0 repeat($input-default-radius, 2) 0; }
  .form-field ~ .btn { border-radius: 0 repeat($input-default-radius, 2) 0; }
}

// Material desgin Inputs
.md-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;

  .form-field + .md-float {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    color: #777;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    pointer-events: none;
    transition:
      color 0.4s,
      transform 0.4s,
      top 0.4s,
      background-color 0.4s;

    &::first-letter { text-transform: uppercase; }
  }

  .form-field:focus + .md-float,
  .form-field.active + .md-float {
    top: -0.5rem;
    transform: scale(0.85);
    background-color: #fff;
  }

  .form-field:focus + .md-float { color: $info; }

  .form-field.is-invalid + .md-float { color: $danger; }
  .form-field.is-valid + .md-float { color: $green; }

  .icon-password {
    position: absolute;
    top: 23px;
    right: 15px;
    transform: translateY(-50%);
    font-size: 1.4rem;
    cursor: pointer;
    user-select: none;
  }
}
