@mixin make-btn($color) {
  background-color: $color !important;
  color: #fff;
  border: 1px solid $color;

  &:hover {
    background-color: adjust-color($color, $lightness: -5%);
    -webkit-box-shadow: 0 0 8px 2px adjust-color($color, $alpha: -0.59);
    -moz-box-shadow: 0 0 8px 2px adjust-color($color, $alpha: -0.59);
    box-shadow: 0 0 8px 2px adjust-color($color, $alpha: -0.59);
  }
}

// Outline
@mixin make-outline($color) {
  color: $color;
  background-color: transparent;
  border: 1px solid $color;

  &:hover {
    background-color: adjust-color($color, $alpha: -0.85);
    -webkit-box-shadow: 0 0 8px 2px adjust-color($color, $alpha: -0.59);
    -moz-box-shadow: 0 0 8px 2px adjust-color($color, $alpha: -0.59);
    box-shadow: 0 0 8px 2px adjust-color($color, $alpha: -0.59);
  }
}

// Flat
@mixin make-flat($color) {
  color: $color;
  background-color: transparent;

  &:hover {
    background-color: adjust-color($color, $alpha: -0.9);
  }
}

@mixin btn-press-set-color($color) {
  &.btn-press {
    box-shadow: 0 #{$raise-size} 0 adjust-color($color: $color, $lightness: -5%);

    &:hover { box-shadow: 0 #{$raise-size - 2px} 0 adjust-color($color: $color, $lightness: -5%); }
  }
}
