.information-table {
  padding: 10px 15px;
  font-size: 0.8rem;
  color: #3e4d5c;

  .row { border-bottom: 1px solid #eee; }
  .row > div { padding: 8px 0; }

  .table-head {
    font-weight: 800;
    font-size: 1.3rem;
  }

  .table-body .col:nth-of-type(1) { font-weight: 600; }
}
