/*
 * Cores do site
*/

$white: #fff;
$dark_color: #2b2b2b;
$light_color: #ededed;

$theme_color: #3e4d5c;

$gray: #cecece;
$gray-1: #aaa;
$gray-2: #777;

/*
 * Cores de ações
*/
$secondary: #9c27b0;
$success: #43a047;
$info: #03a9f4;
$danger: #e53935;
$warning: #f57c00;
$dark: #343a40;

/*
 * Variações
 */
$danger_light: #e74c3c;

/*
 * Cores gerais
*/

$teal: #009688;
$light_green: #55efc4;
$green: #2ecc71;
$pink: #ed1a62;

$hot-info-gradient:
  linear-gradient(to top right, #19e4d9, #5c7de9),
  linear-gradient(to top right, #f5509f, #fe7378),
  linear-gradient(to top right, #41e098, #3bb4b5),
  linear-gradient(to top right, #ffd841, #ff8c56);
